.navbar {
  background: #e8d8f7;
  width: 100%;
  position: sticky;
  top: 0;
  height: 60px;
  border-end-end-radius: 15px;
  border-end-start-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  overflow-x: scroll;
    overflow: hidden;
      /* Hide scrollbars */
  box-shadow: 0px -5px 25px 10px #717472dd;
}

.toggle {
  background-color: #e8d8f7;
}

.navLink-wrapper {
  padding-left: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

}

.navLink {
  margin-right: 10px;
  color: black;
  font-size: 15px;
  font-weight: 500;
  /* cursor: default; */
}

.navLink:hover {
  margin-right: 10px;
  font-weight: 700;
  color: black;
}

.sigin-in-btn {
  margin-right: 30px;
  color: black;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: 15px;
  background-color: #e8d8f7;
  font-weight: 500;
  border-radius: 100px;
  text-decoration: none;
  height: 35px;
  padding-inline: 15px;
  cursor: default;
}

.sigin-in-btn:hover {
  font-size: 16px;
  font-weight: 700;
  background-color: white;
}

.center {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50px;
  width: 80px; */
}